<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name=" PET API Test ">
    <test name="PET API Test" thread-count="10" parallel="classes">
        <classes>
            <class name="AddNewPetTest"/>
            <class name="DeletePetTest"/>
            <class name="GetPetsByAvailableStatusTest"/>
            <class name="UpdatePetTest"/>
        </classes>
    </test> <!-- Test -->
</suite> <!-- Suite -->